
body {
  margin:0;padding:0;
}
* {
  box-sizing:border-box;
}
ul {
  font-size:0;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;

  @for $i from 1 through 9 {
    li:nth-child(#{$i}):after{
        position:absolute;
        content: "#{$i}";
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
  }
  li {
    font-size:36px;
    width:33.3%;
    height:0px;
    padding-bottom:33.3%;
    display:inline-block;
    position:relative;
    &:first-child {
      border-radius: 50% 0 0 0;
    }
    &:nth-child(3) {
      border-radius: 0 50% 0 0;
    }
    &:nth-child(7) {
      border-radius: 0 0 0 50%;
    }
    &:last-child {
      border-radius: 0 0 50% 0;
    }
    &:nth-child(odd) {
      background: black;
      color: pink;
    }
    &:nth-child(even) {
      background: pink;
      color: black;
    }

  }
}